/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  -moz-text-size-adjust: none;
}

body {
  font-family: "OpenSansRegular","Droid Sans",sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.light {
  background-color: #ffffff;
  color: #222222;
}

.dark {
  background-color: #000000;
  color: #eeeeee;
}

.message {
  margin-top: 40px;
  display: none;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.header {
  text-align: left;
  display: none;
}

.header > .domain {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid; 
}

.header > h1 {
  font-family: "OpenSansLight","Droid Sans",sans-serif;
  font-weight: normal;
  line-height: 1.1em;
  width: 100%;
  margin: 0px;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0px;
}

.header > .credits {
  padding: 0px;
  margin: 0px;
  margin-bottom: 32px;
}

.light > .header > .domain {
  color: #ee7600;
  border-bottom-color: #d0d0d0; 
}

.light > .header > h1 {
  color: #222222;
}

.light > .header > .credits {
  color: #898989;
}

.dark > .header > .domain {
  color: #ff9400;
  border-bottom-color: #777777; 
}

.dark > .header > h1 {
  color: #eeeeee;
}

.dark > .header > .credits {
  color: #aaaaaa;
}

.font-size1 > .header > h1 {
  font-size: 23px;
}

.font-size2 > .header > h1 {
  font-size: 25px;
}

.font-size3 > .header > h1 {
  font-size: 27px;
}

.font-size4 > .header > h1 {
  font-size: 29px;
}

.font-size5 > .header > h1 {
  font-size: 31px;
}

.font-size6 > .header > h1 {
  font-size: 33px;
}

.font-size7 > .header > h1 {
  font-size: 35px;
}

/* This covers caption, domain, and credits
   texts in the reader UI */
.font-size1 > .content .wp-caption-text,
.font-size1 > .content figcaption,
.font-size1 > .header > .domain,
.font-size1 > .header > .credits {
  font-size: 6px;
}

.font-size2 > .content .wp-caption-text,
.font-size2 > .content figcaption,
.font-size2 > .header > .domain,
.font-size2 > .header > .credits {
  font-size: 8px;
}

.font-size3 > .content .wp-caption-text,
.font-size3 > .content figcaption,
.font-size3 > .header > .domain,
.font-size3 > .header > .credits {
  font-size: 11px;
}

.font-size4 > .content .wp-caption-text,
.font-size4 > .content figcaption,
.font-size4 > .header > .domain,
.font-size4 > .header > .credits {
  font-size: 13px;
}

.font-size5 > .content .wp-caption-text,
.font-size5 > .content figcaption,
.font-size5 > .header > .domain,
.font-size5 > .header > .credits {
  font-size: 15px;
}

.font-size6 > .content .wp-caption-text,
.font-size6 > .content figcaption,
.font-size6 > .header > .domain,
.font-size6 > .header > .credits {
  font-size: 17px;
}

.font-size7 > .content .wp-caption-text,
.font-size7 > .content figcaption,
.font-size7 > .header > .domain,
.font-size7 > .header > .credits {
  font-size: 19px;
}

.content {
  display: none;
}

.content a {
  text-decoration: underline !important;
  font-weight: normal;
}

.light > .content a,
.light > .content a:visited,
.light > .content a:hover,
.light > .content a:active {
  color: #ee6700 !important;
}

.dark > .content a,
.dark > .content a:visited,
.dark > .content a:hover,
.dark > .content a:active {
  color: #ff9400 !important;
}

.content * {
  max-width: 100% !important;
  height: auto !important;
}

.content p {
  line-height: 1.4em !important;
  margin: 0px !important;
  margin-bottom: 20px !important;
}

/* Covers all images showing edge-to-edge using a 
   an optional caption text */
.content .wp-caption,
.content figure {
  display: block !important;
  width: 100% !important;
  margin: 0px !important;
  margin-bottom: 32px !important;
}

/* Images marked to be shown edge-to-edge with an
   optional captio ntext */
.content p > img:only-child,
.content p > a:only-child > img:only-child,
.content .wp-caption img,
.content figure img {
  max-width: none !important;
  height: auto !important;
  display: block !important;
  margin-top: 0px !important;
  margin-bottom: 32px !important;
}

/* If image is place inside one of these blocks
   there's no need to add margin at the bottom */
.content .wp-caption img,
.content figure img {
  margin-bottom: 0px !important;
}

/* Image caption text */
.content .caption,
.content .wp-caption-text,
.content figcaption {
  margin: 0px !important;
  padding-top: 4px !important;
}

.light > .content .caption,
.light > .content .wp-caption-text,
.light > .content figcaption {
  color: #898989;
}

.dark > .content .caption,
.dark > .content .wp-caption-text,
.dark > .content figcaption {
  color: #aaaaaa;
}

/* Ensure all pre-formatted code inside the reader content
   are properly wrapped inside content width */
.content code,
.content pre {
  white-space: pre-wrap !important;
  margin-bottom: 20px !important;
}

.content blockquote {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
  padding-left: 16px !important;
  border: 0px !important;
  border-left: 2px solid !important;
}

.light > .content blockquote {
  color: #898989 !important;
  border-left-color: #d0d0d0 !important;
}

.dark > .content blockquote {
  color: #aaaaaa !important;
  border-left-color: #777777 !important;
}

.content ul,
.content ol {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
  line-height: 1.5em;
}

.content ul {
  padding-left: 30px !important;
  list-style: disk !important;
}

.content ol {
  padding-left: 35px !important;
  list-style: decimal !important;
}

.font-size1 > .content {
  font-size: 10px !important;
}

.font-size2 > .content {
  font-size: 12px !important;
}

.font-size3 > .content {
  font-size: 14px !important;
}

.font-size4 > .content {
  font-size: 16px !important;
}

.font-size5 > .content {
  font-size: 18px !important;
}

.font-size6 > .content {
  font-size: 20px !important;
}

.font-size7 > .content {
  font-size: 22px !important;
}

.toolbar {
  font-family: "Droid Sans",helvetica,arial,clean,sans-serif;
  -moz-transition-property: visibility, opacity;
  -moz-transition-duration: 0.7s;
  visibility: visible;
  opacity: 1.0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-repeat: repeat;
}

.toolbar-hidden {
  -moz-transition-property: visibility, opacity;
  -moz-transition-duration: 0.7s;
  visibility: hidden;
  opacity: 0.0;
}

.toolbar > * {
  float: right;
  width: 25%;
}

.button {
  color: white;
  display: block;
  background-position: center;
  background-size: 30px 24px;
  background-repeat: no-repeat;
}

.button:active {
  background-color: #ff9500;
}

.dropdown {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.dropdown li {
  margin: 0px;
  padding: 0px;
}

.dropdown-toggle {
  margin: 0px;
  padding: 0px;
}

.dropdown-popup {
  text-align: left;
  position: absolute;
  left: 0px;
  z-index: 1000;
  float: left;
  background: #dde2e7;
  margin-top: 12px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 8px;
  font-size: 14px;
  box-shadow: 0px -1px 12px #333;
  visibility: hidden;
}

.dropdown-popup > hr {
  width: 100%;
  height: 0px;
  border: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid white;
  margin: 0px 0px 10px 0px;
  float: left;
}

.dropdown-popup .button:active {
  background-color: #ccc;
}

.open > .dropdown-popup {
  margin-top: 0px;
  margin-bottom: 6px;
  bottom: 100%;
  visibility: visible;
}

.dropdown-arrow {
  position: absolute;
  width: 40px;
  height: 18px;
  bottom: -18px;
  background-image: url('chrome://browser/skin/images/reader-dropdown-arrow-mdpi.png');
  background-size: 40px 18px;
  background-position: center;
  display: block;
}

.segmented-button {
  list-style: none;
  margin: 0;
  padding: 5px;
  white-space: nowrap;
}

.segmented-button > li {
  display: inline-block;
  padding: 1px 5px;
  border-left: 1px solid #ccc;
}

.segmented-button > li:first-child {
  border-left: 0px;
}

.segmented-button > li > a,
.segmented-button > li > a:hover
.segmented-button > li > a:visited {
  display: block;
  padding: 10px 34px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
}

.segmented-button > li > a:active,
.segmented-button > li.selected > a {
  background: #ccc;
}

.step-control {
  width: 100%;
  padding: 0px;
}

.step-control > h1 {
  font-size: 16px;
  font-weight: normal;
  color: black;
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
  float: left;
}

.step-control > .button {
  float: right;
  text-align: center;
  width: 56px;
  height: 43px;
  background-size: 20px;
}

.step-control > .plus-button {
  background-image: url('chrome://browser/skin/images/reader-plus-icon-mdpi.png');
  border-left: 1px solid #ccc;
  margin-right: 4px;
}

.step-control > .minus-button {
  background-image: url('chrome://browser/skin/images/reader-minus-icon-mdpi.png');
}

.toggle-button.on {
  background-image: url('chrome://browser/skin/images/reader-toggle-on-icon-mdpi.png');
}

.toggle-button {
  background-image: url('chrome://browser/skin/images/reader-toggle-off-icon-mdpi.png');
}

.list-button {
  background-image: url('chrome://browser/skin/images/reader-list-icon-mdpi.png');
}

.share-button {
  background-image: url('chrome://browser/skin/images/reader-share-icon-mdpi.png');
}

.style-button {
  background-image: url('chrome://browser/skin/images/reader-style-icon-mdpi.png');
}

@media screen and (min-resolution: 200dpi) {
  .dropdown-arrow {
    background-image: url('chrome://browser/skin/images/reader-dropdown-arrow-hdpi.png');
  }

  .step-control > .plus-button {
    background-image: url('chrome://browser/skin/images/reader-plus-icon-hdpi.png');
  }

  .step-control > .minus-button {
    background-image: url('chrome://browser/skin/images/reader-minus-icon-hdpi.png');
  }

  .toggle-button.on {
    background-image: url('chrome://browser/skin/images/reader-toggle-on-icon-hdpi.png');
  }

  .toggle-button {
    background-image: url('chrome://browser/skin/images/reader-toggle-off-icon-hdpi.png');
  }

  .list-button {
    background-image: url('chrome://browser/skin/images/reader-list-icon-hdpi.png');
  }

  .share-button {
    background-image: url('chrome://browser/skin/images/reader-share-icon-hdpi.png');
  }

  .style-button {
    background-image: url('chrome://browser/skin/images/reader-style-icon-hdpi.png');
  }
}

@media screen and (min-resolution: 300dpi) {
  .dropdown-arrow {
    background-image: url('chrome://browser/skin/images/reader-dropdown-arrow-xhdpi.png');
  }

  .step-control > .plus-button {
    background-image: url('chrome://browser/skin/images/reader-plus-icon-xhdpi.png');
  }

  .step-control > .minus-button {
    background-image: url('chrome://browser/skin/images/reader-minus-icon-xhdpi.png');
  }

  .toggle-button.on {
    background-image: url('chrome://browser/skin/images/reader-toggle-on-icon-xhdpi.png');
  }

  .toggle-button {
    background-image: url('chrome://browser/skin/images/reader-toggle-off-icon-xhdpi.png');
  }

  .list-button {
    background-image: url('chrome://browser/skin/images/reader-list-icon-xhdpi.png');
  }

  .share-button {
    background-image: url('chrome://browser/skin/images/reader-share-icon-xhdpi.png');
  }

  .style-button {
    background-image: url('chrome://browser/skin/images/reader-style-icon-xhdpi.png');
  }
}

@media screen and (orientation: portrait) {
  .button {
    height: 48px;
  }

  .toolbar {
    background-size: 48px;
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-port-mdpi.png');
  }
}

@media screen and (orientation: landscape) {
  .button {
    height: 40px;
  }

  .toolbar {
    background-size: 40px;
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-land-mdpi.png');
  }
}

@media screen and (min-width: 960px) {
  .button {
    width: 56px;
    height: 56px;
  }

  .toolbar {
    background-size: 56px;
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-xlarge-mdpi.png');
  }

  .toolbar > * {
    width: 56px;
  }
}

@media screen and (orientation: portrait) and (min-resolution: 200dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-port-hdpi.png');
  }
}

@media screen and (orientation: landscape) and (min-resolution: 200dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-land-hdpi.png');
  }
}

@media screen and (orientation: portrait) and (min-resolution: 300dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-port-xhdpi.png');
  }
}

@media screen and (orientation: landscape) and (min-resolution: 300dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-land-xhdpi.png');
  }
}

@media screen and (min-width: 960px) and (min-resolution: 200dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-xlarge-hdpi.png');
  }
}

@media screen and (min-width: 960px) and (min-resolution: 300dpi) {
  .toolbar {
    background-image: url('chrome://browser/skin/images/reader-toolbar-bg-xlarge-xhdpi.png');
  }
}
