%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

%include ../browserShared.inc
%filter substitution
%define toolbarHighlight rgba(255,255,255,.3)
%define selectedTabHighlight rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px
%define forwardTransitionLength 150ms
%define conditionalForwardWithUrlbar       window:not([chromehidden~=toolbar]) :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"][mode=icons],                #nav-bar:not([currentset])[mode=icons])                 > #unified-back-forward-button
%define conditionalForwardWithUrlbar_small window:not([chromehidden~=toolbar]) :-moz-any(#nav-bar[currentset*="unified-back-forward-button,urlbar-container"][mode=icons][iconsize=small],#nav-bar:not([currentset])[mode=icons][iconsize=small]) > #unified-back-forward-button
%define conditionalForwardWithUrlbarWidth 32
%define conditionalForwardWithUrlbarWidth_small 24

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#main-menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

#navigator-toolbox {
  -moz-appearance: none;
  background-color: transparent;
  border-top: none;
}

#main-window:not([disablechrome]) #navigator-toolbox[tabsontop=true] {
  border-bottom: 1px solid ThreeDShadow;
}

#navigator-toolbox[tabsontop=true] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar):not(#TabsToolbar),
#navigator-toolbox[tabsontop=false] > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  padding-top: 1px;
  padding-bottom: 1px;
}

#nav-bar:not(:-moz-lwtheme),
#nav-bar[collapsed=true] + toolbar:not(:-moz-lwtheme),
#nav-bar[collapsed=true] + #customToolbars + #PersonalToolbar:not(:-moz-lwtheme),
#nav-bar[tabsontop=true],
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + toolbar,
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + #customToolbars + #PersonalToolbar {
  background-image: linear-gradient(@toolbarHighlight@, rgba(255,255,255,0));
}

#personal-bookmarks {
  min-height: 29px;
}

#browser-bottombox {
  /* opaque for layers optimization */
  background-color: -moz-Dialog;
}

#urlbar:-moz-lwtheme:not([focused="true"]),
.searchbar-textbox:-moz-lwtheme:not([focused="true"]) {
  opacity: .85;
}

/* Places toolbar */
toolbarbutton.bookmark-item {
  margin: 0;
  padding: 2px 3px;
}

toolbarbutton.bookmark-item:hover:active,
toolbarbutton.bookmark-item[open="true"] {
  padding-top: 3px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

/* Prevent [mode="icons"] from hiding the label */
.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Dropmarker for folder bookmarks */
.bookmark-item[container] > .toolbarbutton-menu-dropmarker {
  display: -moz-box !important;
}

#wrapper-personal-bookmarks[place="palette"] > .toolbarpaletteitem-box {
  background: url("chrome://browser/skin/places/bookmarksToolbar.png") no-repeat center;
}

.bookmarks-toolbar-customize {
  max-width: 15em !important;
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
}

/* Bookmark menus */
menu.bookmark-item,
menuitem.bookmark-item {
  min-width: 0;
  max-width: 32em;
}

.bookmark-item > .menu-iconic-left {
  margin-top: 0;
  margin-bottom: 0;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  -moz-padding-start: 0px;
}

/* Bookmark drag and drop styles */
.bookmark-item[dragover-into="true"] {
  background: Highlight !important;
  color: HighlightText !important;
}

/* rules for menupopup drop indicators */
.menupopup-drop-indicator-bar {
  position: relative;
  /* these two margins must together compensate the indicator's height */
  margin-top: -1px;
  margin-bottom: -1px;
}

.menupopup-drop-indicator {
  list-style-image: none;
  height: 2px;
  -moz-margin-end: -4em;
  background-color: Highlight;
}

/* Bookmarks toolbar */
#PlacesToolbarDropIndicator {
  list-style-image: url(chrome://browser/skin/places/toolbarDropMarker.png);
}

/* Bookmark items */
.bookmark-item {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.bookmark-item[container] {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

.bookmark-item[container][livemark] {
  list-style-image: url("chrome://browser/skin/feeds/feedIcon16.png");
}

.bookmark-item[container][livemark] .bookmark-item {
  list-style-image: url("chrome://browser/skin/places/livemark-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.bookmark-item[container][livemark] .bookmark-item[visited] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.bookmark-item[container][query] {
  list-style-image: url("chrome://browser/skin/places/query.png");
}

.bookmark-item[query][tagContainer] {
  list-style-image: url("chrome://browser/skin/places/tag.png");
}

.bookmark-item[query][dayContainer] {
  list-style-image: url("chrome://browser/skin/places/calendar.png");
}

.bookmark-item[query][hostContainer] {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

.bookmark-item[query][hostContainer][open] {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

.bookmark-item[cutting] > .toolbarbutton-icon,
.bookmark-item[cutting] > .menu-iconic-left > .menu-iconic-icon {
  opacity: 0.5;
}

.bookmark-item[cutting] > .toolbarbutton-text,
.bookmark-item[cutting] > .menu-iconic-left > .menu-iconic-text {
  opacity: 0.7;
}

/* Stock icons for the menu bar items */
menuitem:not([type]):not(.menuitem-tooltip):not(.menuitem-iconic-tooltip) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

#appmenu_newNavigator,
#placesContext_open\:newwindow,
#menu_newNavigator,
#context-openlink,
#context-openframe {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}

#appmenu_newTab,
#appmenu_newTab_popup,
#placesContext_open\:newtab,
#placesContext_openContainer\:tabs,
#menu_newNavigatorTab,
#context-openlinkintab,
#context-openframeintab {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

#appmenu_openFile,
#menu_openFile {
  list-style-image: url("moz-icon://stock/gtk-open?size=menu");
}

#menu_close {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

#context-media-play {
  list-style-image: url("moz-icon://stock/gtk-media-play?size=menu");
}

#context-media-pause {
  list-style-image: url("moz-icon://stock/gtk-media-pause?size=menu");
}

#appmenu_savePage,
#menu_savePage,
#context-savelink,
#context-saveimage,
#context-savevideo,
#context-saveaudio,
#context-savepage,
#context-saveframe {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu");
}

#appmenu_printPreview,
#menu_printPreview {
  list-style-image: url("moz-icon://stock/gtk-print-preview?size=menu");
}

#appmenu_print,
#appmenu_print_popup,
#menu_print,
#context-printframe {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

#appmenu-quit,
#menu_FileQuitItem {
  list-style-image: url("moz-icon://stock/gtk-quit?size=menu");
}

#menu_undo,
#context-undo {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu");
}

#menu_undo[disabled],
#context-undo[disabled] {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu&state=disabled");
}

#menu_redo {
  list-style-image: url("moz-icon://stock/gtk-redo?size=menu");
}

#menu_redo[disabled] {
  list-style-image: url("moz-icon://stock/gtk-redo?size=menu&state=disabled");
}

#menu_cut,
#placesContext_cut,
#context-cut {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}

#menu_cut[disabled],
#placesContext_cut[disabled],
#context-cut[disabled] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
}

#menu_copy,
#placesContext_copy,
#context-copy,
#context-copyimage,
#context-copyvideourl,
#context-copyaudiourl,
#context-copylink,
#context-copyemail {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}

#menu_copy[disabled],
#placesContext_copy[disabled],
#context-copy[disabled] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
}

#menu_paste,
#placesContext_paste,
#context-paste {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}

#menu_paste[disabled],
#placesContext_paste[disabled],
#context-paste[disabled] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
}

#menu_delete,
#placesContext_delete,
#placesContext_delete_history,
#context-delete {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu");
}

#menu_delete[disabled],
#placesContext_delete[disabled],
#placesContext_delete_history[disabled],
#context-delete[disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu&state=disabled");
}

#menu_selectAll,
#context-selectall {
  list-style-image: url("moz-icon://stock/gtk-select-all?size=menu");
}

#appmenu_find,
#menu_find {
  list-style-image: url("moz-icon://stock/gtk-find?size=menu");
}

#menu_find[disabled] {
  list-style-image: url("moz-icon://stock/gtk-find?size=menu&state=disabled");
}

#appmenu_customize,
#appmenu_preferences,
#menu_preferences {
  list-style-image: url("moz-icon://stock/gtk-preferences?size=menu");
}

#menu_stop,
#context-stop {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu");
}

#menu_stop[disabled],
#context-stop[disabled] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
}

#menu_reload,
#placesContext_reload,
#context-reload,
#context-reloadframe {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}

#menu_reload[disabled],
#context-reload[disabled] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
}

#menu_zoomEnlarge {
  list-style-image: url("moz-icon://stock/gtk-zoom-in?size=menu");
}

#menu_zoomReduce {
  list-style-image: url("moz-icon://stock/gtk-zoom-out?size=menu");
}

#menu_zoomReset {
  list-style-image: url("moz-icon://stock/gtk-zoom-100?size=menu");
}

#historyMenuBack,
#context-back {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}

#historyMenuBack[disabled],
#context-back[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu&state=disabled");
}

#historyMenuBack:-moz-locale-dir(rtl),
#context-back:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu");
}

#historyMenuBack[disabled]:-moz-locale-dir(rtl),
#context-back[disabled]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu&state=disabled");
}

#historyMenuForward,
#context-forward {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
}

#historyMenuForward[disabled],
#context-forward[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu&state=disabled");
}

#historyMenuForward:-moz-locale-dir(rtl),
#context-forward:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu");
}

#historyMenuForward[disabled]:-moz-locale-dir(rtl),
#context-forward[disabled]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu&state=disabled");
}

#historyMenuHome {
  list-style-image: url("moz-icon://stock/gtk-home?size=menu");
}

#appmenu_history,
#appmenu_showAllHistory,
#menu_showAllHistory {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#appmenu_bookmarks,
#appmenu_showAllBookmarks,
#bookmarksShowAll {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

#subscribeToPageMenuitem:not([disabled]),
#subscribeToPageMenupopup,
#BMB_subscribeToPageMenuitem:not([disabled]),
#BMB_subscribeToPageMenupopup {
  list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

#bookmarksToolbarFolderMenu,
#BMB_bookmarksToolbar {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png");
}

#BMB_bookmarkThisPage {
  list-style-image: url("chrome://browser/skin/places/starPage.png");
}

#BMB_unsortedBookmarks {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
}

#appmenu_downloads,
#menu_openDownloads {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#appmenu_addons,
#menu_openAddons {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
}

#menu_pageInfo,
#context-viewinfo,
#context-viewframeinfo {
  list-style-image: url("moz-icon://stock/gtk-info?size=menu");
}

#appmenu_privateBrowsing,
#appmenu_newPrivateWindow,
#privateBrowsingItem {
  list-style-image: url("chrome://browser/skin/Privacy-16.png");
}

#placesContext_show\:info {
  list-style-image: url("moz-icon://stock/gtk-properties?size=menu");
}

#appmenu_sanitizeHistory,
#sanitizeItem {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu");
}

#appmenu_help,
#appmenu_openHelp,
#menu_openHelp {
  list-style-image: url("moz-icon://stock/gtk-help?size=menu");
}

#appmenu_about,
#aboutName {
  list-style-image: url("moz-icon://stock/gtk-about?size=menu");
}

#javascriptConsole {
  list-style-image: url("chrome://global/skin/console/console.png");
}

/* Primary toolbar buttons */
.toolbarbutton-1:not([type="menu-button"]) {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar.png");
}

.toolbarbutton-1 > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

toolbar[mode="full"] .toolbarbutton-1:not([type="menu-button"]),
toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 57px;
}

.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button {
  padding: 5px;
}

.toolbarbutton-1[checked="true"] {
  padding: 5px !important;
}

/* 24px primary toolbar buttons */
#back-button {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar");
}
#back-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar&state=disabled");
}

#back-button:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=toolbar");
}
#back-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=toolbar&state=disabled");
}

#forward-button,
@conditionalForwardWithUrlbar@ > #forward-button {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar");
}
#forward-button:-moz-locale-dir(rtl),
@conditionalForwardWithUrlbar@ > #forward-button:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar");
}

#forward-button[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar&state=disabled");
}
#forward-button[disabled]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar&state=disabled");
}

@conditionalForwardWithUrlbar@:not([switchingtabs]) > #forward-button {
  transition: @forwardTransitionLength@ ease-out;
}

@conditionalForwardWithUrlbar@ > #forward-button[disabled] {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

#reload-button {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=toolbar");
}
#reload-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=toolbar&state=disabled");
}

#stop-button {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar");
}
#stop-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar&state=disabled");
}

#home-button {
  list-style-image: url("moz-icon://stock/gtk-home?size=toolbar");
}
#home-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-home?size=toolbar&state=disabled");
}

/* tabview button */

#tabview-button,
#menu_tabview {
  list-style-image: url(chrome://browser/skin/tabview/tabview.png);
  -moz-image-region: rect(0, 80px, 16px, 64px);
}

#tabview-button[groups="0"],
#menu_tabview[groups="0"] {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#tabview-button[groups="1"],
#menu_tabview[groups="1"] {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#tabview-button[groups="2"],
#menu_tabview[groups="2"] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#tabview-button[groups="3"],
#menu_tabview[groups="3"] {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}

#downloads-button {
  -moz-image-region: rect(0px 24px 24px 0px);
}

#history-button {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#bookmarks-button,
#bookmarks-menu-button {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#bookmarks-menu-button.bookmark-item {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}

#bookmarks-menu-button.toolbarbutton-1 {
  -moz-box-orient: horizontal;
}

#print-button {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar");
}
#print-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar&state=disabled");
}

#new-tab-button {
  -moz-image-region: rect(0px 96px 24px 72px);
}

#new-window-button {
  -moz-image-region: rect(0px 120px 24px 96px);
}

#cut-button {
  list-style-image: url("moz-icon://stock/gtk-cut?size=toolbar");
}
#cut-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=toolbar&state=disabled");
}

#copy-button {
  list-style-image: url("moz-icon://stock/gtk-copy?size=toolbar");
}
#copy-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=toolbar&state=disabled");
}

#paste-button {
  list-style-image: url("moz-icon://stock/gtk-paste?size=toolbar");
}
#paste-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=toolbar&state=disabled");
}

#fullscreen-button {
  list-style-image: url("moz-icon://stock/gtk-fullscreen?size=toolbar");
}

#zoom-out-button {
  list-style-image: url("moz-icon://stock/gtk-zoom-out?size=toolbar");
}

#zoom-in-button {
  list-style-image: url("moz-icon://stock/gtk-zoom-in?size=toolbar");
}

#sync-button {
  -moz-image-region: rect(0px 144px 24px 120px);
}
#sync-button[status="active"] {
  list-style-image: url("chrome://browser/skin/sync-24-throbber.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#feed-button {
  -moz-image-region: rect(0px 168px 24px 144px);
}

#feed-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .3;
}

#webrtc-status-button {
  -moz-image-region: rect(0px 192px 24px 168px);
}

/* 16px primary toolbar buttons */
toolbar[iconsize="small"] .toolbarbutton-1:not([type="menu-button"]) {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}

toolbar[iconsize="small"] .toolbarbutton-1[type="menu-button"] {
  border: 0 !important;
}

toolbar[iconsize="small"] #back-button {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}
.unified-nav-back[_moz-menuactive] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu") !important;
}
toolbar[iconsize="small"] #back-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu&state=disabled");
}

toolbar[iconsize="small"] #back-button:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu");
}
.unified-nav-back[_moz-menuactive]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu") !important;
}
toolbar[iconsize="small"] #back-button[disabled="true"]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu&state=disabled");
}

toolbar[iconsize=small] #forward-button,
@conditionalForwardWithUrlbar_small@ > #forward-button {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
}
.unified-nav-forward[_moz-menuactive] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu") !important;
}
toolbar[iconsize=small] #forward-button[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu&state=disabled");
}

toolbar[iconsize=small] #forward-button:-moz-locale-dir(rtl),
@conditionalForwardWithUrlbar_small@ > #forward-button:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu");
}
.unified-nav-forward[_moz-menuactive]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu") !important;
}
toolbar[iconsize=small] #forward-button[disabled]:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu&state=disabled");
}

toolbar[iconsize="small"] #stop-button {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu");
}
toolbar[iconsize="small"] #stop-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
}

toolbar[iconsize="small"] #reload-button {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}
toolbar[iconsize="small"] #reload-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu&state=disabled");
}

toolbar[iconsize="small"] #home-button,
#home-button.bookmark-item {
  list-style-image: url("moz-icon://stock/gtk-home?size=menu");
}
toolbar[iconsize="small"] #home-button[disabled="true"],
#home-button.bookmark-item[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-home?size=menu&state=disabled");
}

toolbar[iconsize="small"] #downloads-button {
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #webrtc-status-button /* temporary placeholder (bug 824825) */,
toolbar[iconsize="small"] #history-button {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #bookmarks-button,
toolbar[iconsize="small"] #bookmarks-menu-button,
#bookmarks-menu-button.bookmark-item {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #print-button {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}
toolbar[iconsize="small"] #print-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu&state=disabled");
}

toolbar[iconsize="small"] #new-tab-button {
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #new-window-button {
  -moz-image-region: rect(0px 80px 16px 64px);
}

toolbar[iconsize="small"] #cut-button {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}
toolbar[iconsize="small"] #cut-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
}

toolbar[iconsize="small"] #copy-button {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}
toolbar[iconsize="small"] #copy-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
}

toolbar[iconsize="small"] #paste-button {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}
toolbar[iconsize="small"] #paste-button[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
}

toolbar[iconsize="small"] #fullscreen-button {
  list-style-image: url("moz-icon://stock/gtk-fullscreen?size=menu");
}

toolbar[iconsize="small"] #zoom-out-button {
  list-style-image: url("moz-icon://stock/gtk-zoom-out?size=menu");
}

toolbar[iconsize="small"] #zoom-in-button {
  list-style-image: url("moz-icon://stock/gtk-zoom-in?size=menu");
}

toolbar[iconsize="small"] #sync-button {
  -moz-image-region: rect(0px 96px 16px 80px);
}
toolbar[iconsize="small"] #sync-button[status="active"] {
  list-style-image: url("chrome://browser/skin/sync-16-throbber.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #feed-button {
  -moz-image-region: rect(0px 112px 16px 96px);
}

toolbar[iconsize="small"] #webrtc-status-button {
  -moz-image-region: rect(0px 128px 16px 112px);
}

/* Fullscreen window controls */
#window-controls {
  -moz-box-align: start;
  -moz-margin-start: 10px;
}

#minimize-button {
  list-style-image: url("chrome://global/skin/icons/Minimize.gif");
}
#restore-button {
  list-style-image: url("chrome://global/skin/icons/Restore.gif");
}
#close-button {
  list-style-image: url("chrome://global/skin/icons/Close.gif");
}

/* Location bar */
#urlbar {
  width: 7em;
  -moz-appearance: textfield;
  padding: 0;
}

.urlbar-textbox-container {
  -moz-appearance: none;
  -moz-box-align: stretch;
}

.urlbar-input-box {
  -moz-margin-start: 0;
  min-width: 4em;
}

.urlbar-history-dropmarker {
  -moz-appearance: toolbarbutton-dropdown;
}

#urlbar-container {
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
}

@conditionalForwardWithUrlbar@ + #urlbar-container {
  -moz-padding-start: @conditionalForwardWithUrlbarWidth@px;
  -moz-margin-start: -@conditionalForwardWithUrlbarWidth@px;
  position: relative;
  pointer-events: none;
}

@conditionalForwardWithUrlbar_small@ + #urlbar-container {
  -moz-padding-start: @conditionalForwardWithUrlbarWidth_small@px;
  -moz-margin-start: -@conditionalForwardWithUrlbarWidth_small@px;
}

@conditionalForwardWithUrlbar@ + #urlbar-container > #urlbar {
  pointer-events: all;
}

@conditionalForwardWithUrlbar@:not([switchingtabs]) + #urlbar-container > #urlbar {
  transition: margin-left @forwardTransitionLength@ ease-out,
              margin-right @forwardTransitionLength@ ease-out;
}

@conditionalForwardWithUrlbar@[forwarddisabled] + #urlbar-container > #urlbar:-moz-locale-dir(ltr) {
  margin-left: -@conditionalForwardWithUrlbarWidth@px;
}
@conditionalForwardWithUrlbar@[forwarddisabled] + #urlbar-container > #urlbar:-moz-locale-dir(rtl) {
  margin-right: -@conditionalForwardWithUrlbarWidth@px;
}
@conditionalForwardWithUrlbar_small@[forwarddisabled] + #urlbar-container > #urlbar:-moz-locale-dir(ltr) {
  margin-left: -@conditionalForwardWithUrlbarWidth_small@px;
}
@conditionalForwardWithUrlbar_small@[forwarddisabled] + #urlbar-container > #urlbar:-moz-locale-dir(rtl) {
  margin-right: -@conditionalForwardWithUrlbarWidth_small@px;
}

#urlbar-icons {
  -moz-box-align: center;
}

.urlbar-icon {
  cursor: pointer;
  padding: 0 3px;
}

#urlbar-search-splitter {
  -moz-appearance: none;
  width: 8px;
  -moz-margin-start: -4px;
}

#urlbar-search-splitter + #urlbar-container > #urlbar ,
#urlbar-search-splitter + #search-container > #searchbar > .searchbar-textbox {
  -moz-margin-start: 0;
}

#urlbar-display-box {
  margin-top: -1px;
  margin-bottom: -1px;
  -moz-border-end: 1px solid #AAA;
  -moz-margin-end: 3px;
}

#urlbar-display {
  margin-top: 0;
  margin-bottom: 0;
  -moz-margin-start: 0;
  color: GrayText;
}

/* Favicon */
#page-proxy-favicon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 4px;
  -moz-margin-end: 3px;
  list-style-image: url(chrome://browser/skin/identity-icons-generic.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.verifiedDomain > #page-proxy-favicon[pageproxystate="valid"] {
  list-style-image: url(chrome://browser/skin/identity-icons-https.png);
}

.verifiedIdentity > #page-proxy-favicon[pageproxystate="valid"] {
  list-style-image: url(chrome://browser/skin/identity-icons-https-ev.png);
}

#identity-box:hover > #page-proxy-favicon {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#identity-box:hover:active > #page-proxy-favicon,
#identity-box[open=true] > #page-proxy-favicon {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#page-proxy-favicon[pageproxystate="invalid"] {
  opacity: 0.3;
}

/* Identity indicator */
#identity-box {
  padding: 1px;
  margin: -1px;
  -moz-margin-end: 0;
  font-size: .9em;
}

#identity-box:-moz-locale-dir(ltr) {
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

#identity-box:-moz-locale-dir(rtl) {
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

#identity-box:-moz-focusring {
  outline: 1px dotted #000;
  outline-offset: -3px;
}

#identity-icon-labels {
  -moz-padding-start: 2px;
  -moz-padding-end: 5px;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
  background-color: #fff;
  color: hsl(92,100%,30%);
  -moz-margin-end: 4px;
  background-image: linear-gradient(hsla(92,81%,16%,0),
                                    hsla(92,81%,16%,.2) 25%,
                                    hsla(92,81%,16%,.2) 75%,
                                    hsla(92,81%,16%,0));
  background-position: right;
  background-size: 1px;
  background-repeat: no-repeat;
}

#identity-box.verifiedIdentity:-moz-locale-dir(rtl) {
  background-position: left;
}

/* Identity popup icons */
#identity-popup-icon {
  height: 64px;
  width: 64px;
  padding: 0;
  list-style-image: url("chrome://browser/skin/identity.png");
  -moz-image-region: rect(0px, 64px, 64px, 0px);
}

#identity-popup.verifiedDomain > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(64px, 64px, 128px, 0px);
}

#identity-popup.verifiedIdentity > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(128px, 64px, 192px, 0px);
}

/* Identity popup body text */
.identity-popup-description {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 2px 0 4px;
}

.identity-popup-label {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 0;
}

#identity-popup-content-host ,
#identity-popup-content-owner {
  font-weight: bold;
  max-width: 300px;
}

#identity-popup-content-host ,
#identity-popup-content-box.verifiedIdentity > #identity-popup-content-owner {
  font-size: 140%;
}

#identity-popup-content-owner {
  margin-bottom: 0 !important;
}

#identity-popup-content-verifier {
  margin: 4px 0 2px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption {
  margin-top: 10px;
  -moz-margin-start: -18px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption > vbox > #identity-popup-encryption-icon ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption > vbox > #identity-popup-encryption-icon {
  list-style-image: url("chrome://browser/skin/Secure.png");
}

/* Identity popup bounding box */
#identity-popup-container {
  min-width: 280px;
}

/* Notification popup */
#notification-popup {
  min-width: 280px;
}

.popup-notification-icon {
  width: 64px;
  height: 64px;
  -moz-margin-end: 10px;
}

.popup-notification-icon[popupid="geolocation"] {
  list-style-image: url(chrome://browser/skin/Geolocation-64.png);
}

.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-progress"],
.popup-notification-icon[popupid="addon-install-cancelled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-failed"],
.popup-notification-icon[popupid="addon-install-complete"] {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric.png);
  width: 32px;
  height: 32px;
}

.popup-notification-icon[popupid="click-to-play-plugins"] {
  list-style-image: url(chrome://mozapps/skin/plugins/pluginBlocked-64.png);
}

.addon-progress-description {
  width: 350px;
  max-width: 350px;
}

.popup-progress-label,
.popup-progress-meter {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

.popup-progress-cancel {
  -moz-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  -moz-margin-start: 5px;
  min-height: 0;
  min-width: 0;
  list-style-image: url("moz-icon://stock/gtk-cancel?size=menu");
}

.popup-notification-icon[popupid="indexedDB-permissions-prompt"],
.popup-notification-icon[popupid="indexedDB-quota-prompt"] {
  list-style-image: url(chrome://global/skin/icons/question-64.png);
}

.popup-notification-icon[popupid="password-save"],
.popup-notification-icon[popupid="password-change"] {
  list-style-image: url(chrome://mozapps/skin/passwordmgr/key-64.png);
}

.popup-notification-icon[popupid="webapps-install"] {
  list-style-image: url(chrome://browser/skin/webapps-64.png);
}

.popup-notification-icon[popupid="webRTC-sharingDevices"],
.popup-notification-icon[popupid="webRTC-shareDevices"] {
  list-style-image: url(chrome://browser/skin/webRTC-shareDevice-64.png);
}

/* Notification icon box */
#notification-popup-box {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  padding-left: 4px;
  border-radius: 2.5px 0 0 2.5px;
  border-width: 0 8px 0 0;
  border-style: solid;
  -moz-border-image: url("chrome://browser/skin/urlbar-arrow.png") 0 8 0 0 fill;
  -moz-margin-end: -8px;
  margin-top: -1px;
  margin-bottom: -1px;
}

#notification-popup-box:not([hidden]) + #identity-box {
  -moz-padding-start: 10px;
  border-radius: 0;
}

#notification-popup-box:-moz-locale-dir(rtl),
.notification-anchor-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.notification-anchor-icon {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.notification-anchor-icon:-moz-focusring {
  outline: 1px dotted -moz-DialogText;
}

#default-notification-icon {
  list-style-image: url(chrome://global/skin/icons/information-16.png);
}

#identity-notification-icon {
  list-style-image: url(chrome://mozapps/skin/profile/profileicon.png);
}

#geo-notification-icon {
  list-style-image: url(chrome://browser/skin/Geolocation-16.png);
}

#addons-notification-icon {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric-16.png);
}

#indexedDB-notification-icon {
  list-style-image: url(chrome://global/skin/icons/question-16.png);
}

#password-notification-icon {
  list-style-image: url(chrome://mozapps/skin/passwordmgr/key-16.png);
}

#webapps-notification-icon {
  list-style-image: url(chrome://browser/skin/webapps-16.png);
}

#plugins-notification-icon {
  list-style-image: url(chrome://mozapps/skin/plugins/pluginGeneric-16.png);
}

#blocked-plugins-notification-icon {
  list-style-image: url(chrome://mozapps/skin/plugins/notifyPluginBlocked.png);
}

#notification-popup-box[hidden] {
  /* Override display:none to make the pluginBlockedNotification animation work
     when showing the notification repeatedly. */
  display: -moz-box;
  visibility: collapse;
}

#blocked-plugins-notification-icon[showing] {
  animation: pluginBlockedNotification 500ms ease 0s 5 alternate both;
}

@keyframes pluginBlockedNotification {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#webRTC-shareDevices-notification-icon {
  list-style-image: url(chrome://browser/skin/webRTC-shareDevice-16.png);
}

#webRTC-sharingDevices-notification-icon {
  list-style-image: url(chrome://browser/skin/webRTC-sharingDevice-16.png);
}

#treecolAutoCompleteImage {
  max-width : 36px;
}

.ac-result-type-bookmark,
.autocomplete-treebody::-moz-tree-image(bookmark, treecolAutoCompleteImage) {
  list-style-image: url("chrome://browser/skin/places/pageStarred.png");
  width: 16px;
  height: 16px;
}

.ac-result-type-keyword,
.autocomplete-treebody::-moz-tree-image(keyword, treecolAutoCompleteImage) {
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
  width: 16px;
  height: 16px;
}

.ac-result-type-tag,
.autocomplete-treebody::-moz-tree-image(tag, treecolAutoCompleteImage) {
  list-style-image: url("chrome://browser/skin/places/tag.png");
  width: 16px;
  height: 16px;
}

.ac-comment {
  font-size: 1.05em;
}

.ac-extra > .ac-comment {
  font-size: inherit;
}

.ac-url-text,
.ac-action-text {
  color: -moz-nativehyperlinktext;
  font-size: 0.9em;
}

richlistitem[type~="action"][actiontype="switchtab"] > .ac-url-box > .ac-action-icon {
  list-style-image: url("chrome://browser/skin/actionicon-tab.png");
  padding: 0 3px;
}

.autocomplete-treebody::-moz-tree-cell-text(treecolAutoCompleteComment) {
  color: GrayText;
}

.ac-comment[selected="true"],
.ac-url-text[selected="true"],
.ac-action-text[selected="true"] {
  color: inherit !important;
}

.autocomplete-treebody::-moz-tree-cell-text(suggesthint, treecolAutoCompleteComment),
.autocomplete-treebody::-moz-tree-cell-text(suggestfirst, treecolAutoCompleteComment) {
  color: GrayText;
  font-size: smaller;
}

.autocomplete-treebody::-moz-tree-cell(suggesthint) {
  border-top: 1px solid GrayText;
}

/* Combined go/reload/stop button in location bar */

#go-button {
  padding-top: 2px;
  padding-bottom: 2px;
}

#urlbar > toolbarbutton {
  -moz-appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 22px;
}

#go-button,
#urlbar-go-button {
  list-style-image: url("chrome://browser/skin/Go-arrow.png");
}

#go-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#urlbar-go-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

#urlbar-reload-button {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}

#urlbar-stop-button {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu");
}

/* Popup blocker button */
#page-report-button {
  list-style-image: url("chrome://browser/skin/Info.png");
}

/* social recommending panel */

#share-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#socialUserPortrait {
  width: 48px;
  height: 48px;
}

#socialUserDisplayName,
#socialUserPortrait {
  cursor: pointer;
}

#socialUserDisplayName {
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  margin-top: 0;
  padding-top: 0;
  font-size: 130%;
  font-weight: bold;
}

#socialUserDisplayName > .button-box {
  -moz-padding-start: 0;
  padding-top: 0;
  border-top-width: 0;
}

#socialUserDisplayName:hover {
  color: -moz-nativehyperlinktext;
  text-decoration: underline;
}

#unsharePopupText {
  height: 48px;
}

#unsharePopupBottomButtons {
  margin-top: 1em;
}

/* Star button */
#star-button {
  list-style-image: url("chrome://browser/skin/places/starPage.png");
}

#star-button[starred="true"] {
  list-style-image: url("chrome://browser/skin/places/pageStarred.png");
}

/* Bookmarking panel */
#editBookmarkPanelStarIcon {
  list-style-image: url("chrome://browser/skin/places/starred48.png");
  width: 48px;
  height: 48px;
}

#editBookmarkPanelStarIcon[unstarred] {
  list-style-image: url("chrome://browser/skin/places/unstarred48.png");
}

#editBookmarkPanelTitle {
  font-size: 130%;
}

#editBookmarkPanelHeader,
#editBookmarkPanelContent {
  margin-bottom: .5em;
}

/* Implements editBookmarkPanel resizing on folderTree un-collapse. */
#editBMPanel_folderTree {
  min-width: 27em;
}

.panel-promo-box {
  margin: 8px -10px -10px -10px;
  padding: 8px 10px;
  border-top: 1px solid ThreeDShadow;
  background-image: linear-gradient(hsla(0,0%,0%,.15), hsla(0,0%,0%,.08) 6px);
}

.panel-promo-icon {
  list-style-image: url("chrome://browser/skin/sync-notification-24.png");
  -moz-margin-end: 10px;
  vertical-align: middle;
}

.panel-promo-closebutton {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
  margin-top: 0;
  margin-bottom: 0;
}

.panel-promo-closebutton > .toolbarbutton-text {
  padding: 0;
  margin: 0;
}

/* Content area */
#sidebar {
  background-color: Window;
}

/* Throbber */
#navigator-throbber {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

#navigator-throbber,
#wrapper-navigator-throbber > #navigator-throbber {
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

/* Tabstrip */

#TabsToolbar {
  min-height: 0;
  padding: 0;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
  box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme):-moz-system-metric(menubar-drag) {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
}

#TabsToolbar[tabsontop=false] {
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 1px, rgba(0,0,0,.05) 1px, transparent 50%);
}

.tabbrowser-tab,
.tabs-newtab-button {
  position: static;
  -moz-appearance: none;
  background: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,45%,.2) 2px, hsla(0,0%,32%,.2) 80%);
  background-origin: border-box;
  background-position: 1px 2px;
  background-size: 100% calc(100% - 2px);
  background-repeat: no-repeat;
  color: inherit;
  margin: 0;
  padding: 0;
  border-width: 4px 5px 3px 6px;
  border-style: solid;
  -moz-border-image: url(tabbrowser/tab.png) 4 5 3 6 fill repeat stretch;
  border-radius: 10px 8px 0 0;
  min-height: 25px; /* reserve space for the sometimes hidden close button */
}

.tabbrowser-tab:hover,
.tabs-newtab-button:hover {
  background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%);
}

.tabbrowser-tab[selected="true"] {
  background-image: linear-gradient(@selectedTabHighlight@, @toolbarHighlight@ 32%),
                    linear-gradient(-moz-dialog, -moz-dialog);
  color: -moz-dialogtext;
}

#main-window[tabsontop=false]:not([disablechrome]) .tabbrowser-tab[selected=true]:not(:-moz-lwtheme) {
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 1px, transparent 1px),
                    linear-gradient(@selectedTabHighlight@, @toolbarHighlight@ 32%),
                    linear-gradient(-moz-dialog, -moz-dialog);
}

.tabbrowser-tab[selected="true"]:-moz-lwtheme {
  background-image: linear-gradient(@selectedTabHighlight@, @toolbarHighlight@ 32%);
  color: inherit;
}

.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]),
.tabs-newtab-button:-moz-lwtheme-brighttext {
  background-image: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,40%,.6) 4px, hsla(0,0%,30%,.6) 80%);
}

.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]):hover,
.tabs-newtab-button:-moz-lwtheme-brighttext:hover {
  background-image: linear-gradient(hsla(0,0%,80%,.6), hsla(0,0%,60%,.6) 4px, hsla(0,0%,45%,.6) 80%);
}

.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]),
.tabs-newtab-button:-moz-lwtheme-darktext {
  background-image: linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,60%,.5) 4px, hsla(0,0%,45%,.5) 80%);
}

.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]):hover,
.tabs-newtab-button:-moz-lwtheme-darktext:hover {
  background-image: linear-gradient(hsla(0,0%,100%,.5), hsla(0,0%,80%,.5) 4px, hsla(0,0%,60%,.5) 80%);
}

.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) {
  background-image: radial-gradient(circle farthest-corner at 50% 3px, rgba(233,242,252,1) 3%, rgba(172,206,255,.75) 40%, rgba(87,151,201,.5) 80%, rgba(87,151,201,0));
}
.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):hover {
  background-image: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.6) 2px, hsla(0,0%,75%,.2) 80%),
                    radial-gradient(circle farthest-corner at 50% 3px, rgba(233,242,252,1) 3%, rgba(172,206,255,.75) 40%, rgba(87,151,201,.5) 80%, rgba(87,151,201,0));
}

#tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab > .tab-stack > .tab-content[pinned] {
  min-height: 18px; /* corresponds to the max. height of non-textual tab contents, i.e. the tab close button */
}

.tabbrowser-tab:focus > .tab-stack {
  outline: 1px dotted;
}

.tab-throbber,
.tab-icon-image {
  width: 16px;
  height: 16px;
  -moz-margin-end: 3px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.tab-throbber {
  list-style-image: url("chrome://browser/skin/tabbrowser/connecting.png");
}

.tab-throbber[progress] {
  list-style-image: url("chrome://browser/skin/tabbrowser/loading.png");
}

.tab-throbber[pinned],
.tab-icon-image[pinned],
.tabs-newtab-button > .toolbarbutton-icon {
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
}

#context_reloadTab {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=menu");
}

#context_closeOtherTabs {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu");
}

#context_closeOtherTabs[disabled] {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu&state=disabled");
}

#context_undoCloseTab {
  list-style-image: url("moz-icon://stock/gtk-undelete?size=menu");
}

#context_closeTab {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

/* Tab drag and drop */
.tab-drop-indicator {
  list-style-image: url(chrome://browser/skin/tabbrowser/tabDragIndicator.png);
  margin-bottom: -11px;
}

/* In-tab close button */
.tab-close-button > .toolbarbutton-icon {
  /* XXX Buttons have padding in widget/ that we don't want here but can't override with good CSS, so we must
     use evil CSS to give the impression of smaller content */
  margin: -4px;
}

.tab-close-button {
  padding: 0;
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
  margin-top: -1px;
  margin-bottom: -1px;
  -moz-margin-end: -1px;
}

/* Tabstrip new tab button */
.tabs-newtab-button,
#TabsToolbar > #new-tab-button ,
#TabsToolbar > #wrapper-new-tab-button > #new-tab-button {
  list-style-image: url("moz-icon://stock/gtk-add?size=menu");
  -moz-image-region: auto;
}

/* Tabstrip close button */
.tabs-closebutton {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

.tabs-closebutton > .toolbarbutton-icon {
  /* XXX Buttons have padding in widget/ that we don't want here but can't override with good CSS, so we must
     use evil CSS to give the impression of smaller content */
  margin: -2px;
}

/* Tabbrowser arrowscrollbox arrows */
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  -moz-appearance: none;
  margin: 0;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up {
  -moz-border-start: 0;
  -moz-border-end: 2px solid transparent;
}

.tabbrowser-arrowscrollbox > .scrollbutton-down {
  -moz-border-start: 2px solid transparent;
  -moz-border-end: 0;
  transition: 1s box-shadow ease-out;
  border-radius: 4px;
}

.tabbrowser-arrowscrollbox > .scrollbutton-down[notifybgtab] {
  box-shadow: 0 0 5px 5px Highlight inset;
  transition: none;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]):-moz-locale-dir(ltr),
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]):-moz-locale-dir(rtl) {
  border-width: 0 2px 0 0;
  border-style: solid;
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab-overflow-border.png") 0 2 0 2 fill;
}

.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]):-moz-locale-dir(ltr),
.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]):-moz-locale-dir(rtl) {
  border-width: 0 0 0 2px;
  border-style: solid;
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab-overflow-border.png") 0 2 0 2 fill;
}

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  margin-top: -2px;
  margin-bottom: -2px;
}

#alltabs-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/tabbrowser/alltabs.png");
  margin: 2px 0 1px;
}

#alltabs-button[type="menu"] > .toolbarbutton-menu-dropmarker {
  margin-bottom: -2px;
}

#alltabs-button[type="menu"] > .toolbarbutton-icon {
  display: none;
}

/* All tabs menupopup */
.alltabs-item > .menu-iconic-left > .menu-iconic-icon {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

.alltabs-item[tabIsVisible] {
  /* box-shadow instead of background-color to work around native styling */
  box-shadow: inset -5px 0 ThreeDShadow;
}

/* Sidebar */
#sidebar-header > .tabs-closebutton {
  margin-bottom: 0px !important;
  padding: 0px 2px 0px 2px !important;
}

#sidebar-throbber[loading="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
  -moz-margin-end: 4px;
}

toolbarbutton.chevron {
  list-style-image: url("chrome://global/skin/toolbar/chevron.gif") !important;
}

toolbarbutton.chevron:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

toolbarbutton.chevron > .toolbarbutton-text,
toolbarbutton.chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.chevron > .toolbarbutton-icon {
  margin: 0;
}

toolbar[mode="text"] toolbarbutton.chevron > .toolbarbutton-icon {
  display: -moz-box; /* display chevron icon in text mode */
}

/* ::::: Keyboard UI Panel ::::: */

.KUI-panel-closebutton {
  list-style-image: url(KUI-close.png);
}

.KUI-panel-closebutton > .toolbarbutton-icon {
  margin: 0;
}

/* ::::: Ctrl-Tab and All Tabs Panels ::::: */

.ctrlTab-preview,
.allTabs-preview {
  -moz-appearance: toolbarbutton;
}

.tabPreview-canvas {
  box-shadow: 0 0 5px ThreeDShadow;
}

.ctrlTab-preview:focus .tabPreview-canvas,
.ctrlTab-preview:hover .tabPreview-canvas,
.allTabs-preview:focus .tabPreview-canvas,
.allTabs-preview:hover .tabPreview-canvas {
  box-shadow: none;
}

.ctrlTab-favicon[src],
.allTabs-favicon[src] {
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 2px;
}

/* Ctrl-Tab */

#ctrlTab-panel {
  padding: 10px;
}

.ctrlTab-preview:not(#ctrlTab-showAll) .tabPreview-canvas {
  margin-bottom: 2px;
}

#ctrlTab-showAll {
  -moz-appearance: button;
  color: ButtonText;
  padding: 0 3px;
  margin-top: 10px;
}

/* All Tabs */

#allTabs-panel {
  padding-bottom: 10px;
}

#allTabs-meta {
  padding: 5px;
}

#allTabs-filter {
  -moz-margin-start: 36px;
  -moz-margin-end: 0;
}

.allTabs-preview-label {
  transform: translate(0, 2px);
}

/* Application button menu */

.splitmenu-menuitem {
  -moz-margin-end: 1px;
}

#appmenu-toolbar-button:not(:hover):not([open]):not(:-moz-lwtheme) {
  color: inherit;
}

#appmenu-toolbar-button > .toolbarbutton-text,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}
#appmenuSecondaryPane {
  -moz-border-start: 1px solid ThreeDShadow;
}
#appmenuSecondaryPane-spacer {
  min-height: 1em;
}
#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}
#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}
#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}
#wrapper-appmenu-toolbar-button,
.appmenu-edit-button[disabled="true"] {
  opacity: .3;
}

/* Add-on bar */

#addon-bar {
  box-shadow: 0 1px 0 rgba(0,0,0,.15) inset;
  padding: 0;
  min-height: 20px;
}

#status-bar {
  min-height: 0;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
}

#addon-bar[customizing] > #status-bar {
  opacity: .5;
  background-image: repeating-linear-gradient(135deg,
                                              rgba(255,255,255,.3), rgba(255,255,255,.3) 5px,
                                              rgba(0,0,0,.3) 5px, rgba(0,0,0,.3) 10px);
}

#status-bar > statusbarpanel {
  border-width: 0;
  -moz-appearance: none;
}

#addonbar-closebutton {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
}

#addonbar-closebutton > .toolbarbutton-icon {
  margin-top: -2px;
  margin-bottom: -2px;
}

/* Status panel */

.statuspanel-label {
  margin: 0;
  padding: 2px 4px;
  background: linear-gradient(#fff, #ddd);
  border: 1px none #ccc;
  border-top-style: solid;
  color: #333;
  text-shadow: none;
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror]),
.statuspanel-label:-moz-locale-dir(rtl)[mirror] {
  border-right-style: solid;
  border-top-right-radius: .3em;
  margin-right: 1em;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror]),
.statuspanel-label:-moz-locale-dir(ltr)[mirror] {
  border-left-style: solid;
  border-top-left-radius: .3em;
  margin-left: 1em;
}

/* Highlighter */

.highlighter-outline {
  box-shadow: 0 0 0 1px black;
  outline: 1px dashed white;
  outline-offset: -1px;
}

.highlighter-outline[locked]  {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  outline-color: rgba(255,255,255,0.7);
}

/* Developer toolbar */

#developer-toolbar {
  border-top: 1px solid hsla(210, 8%, 5%, .65);
}

/* Highlighter - Node Infobar */

.highlighter-nodeinfobar {
  color: hsl(200, 100%, 65%);
  border: 1px solid hsla(210, 19%, 63%, .5);
  border-radius: 3px;
  background: linear-gradient(hsl(209, 18%, 30%), hsl(210, 24%, 16%)) no-repeat padding-box;
}

/* Highlighter - Node Infobar - text */

.highlighter-nodeinfobar-text {
  /* 100% - size of the buttons and margins */
  max-width: calc(100% - 2 * (26px + 6px));
  padding-bottom: 1px;
}

html|*.highlighter-nodeinfobar-tagname {
  color: white;
}

html|*.highlighter-nodeinfobar-id {
  color: hsl(90, 79%, 52%);
}

html|*.highlighter-nodeinfobar-pseudo-classes {
  color: hsl(20, 100%, 70%);
}

/* Highlighter - Node Infobar - buttons */

.highlighter-nodeinfobar-button {
  -moz-appearance: none;
  border: 0 solid hsla(210,8%,5%,.45);
  padding: 0;
  width: 26px;
  min-height: 26px;
}

.highlighter-nodeinfobar-inspectbutton {
  -moz-border-end-width: 1px;
  box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
  -moz-margin-end: 6px;
  list-style-image: url("chrome://browser/skin/devtools/inspect-button.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.highlighter-nodeinfobar-inspectbutton:-moz-locale-dir(rtl) {
  box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-inspectbutton:active:hover,
.highlighter-nodeinfobar-container:not([locked]) >  .highlighter-nodeinfobar >  .highlighter-nodeinfobar-inspectbutton {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.highlighter-nodeinfobar-menu {
  -moz-border-start-width: 1px;
  box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
  -moz-margin-start: 6px;
}

.highlighter-nodeinfobar-menu:-moz-locale-dir(rtl) {
  box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-menu > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
  -moz-box-align: center;
  -moz-margin-start: -1px;
}

/* Highlighter - Node Infobar - box & arrow */

.highlighter-nodeinfobar-arrow {
  width: 14px;
  height: 14px;
  -moz-margin-start: calc(50% - 7px);
  transform: rotate(-45deg);
  border: 1px solid transparent;
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.highlighter-nodeinfobar-arrow-top {
  margin-bottom: -8px;
  margin-top: 8px;
  border-right-color: hsla(210, 19%, 63%, .5);
  border-top-color: hsla(210, 19%, 63%, .5);
  background-image: linear-gradient(to top right, transparent 50%, hsl(209, 18%, 30%) 50%);
}

.highlighter-nodeinfobar-arrow-bottom {
  margin-top: -8px;
  margin-bottom: 8px;
  border-left-color: hsla(210, 19%, 63%, .5);
  border-bottom-color: hsla(210, 19%, 63%, .5);
  background-image: linear-gradient(to bottom left, transparent 50%, hsl(210, 24%, 16%) 50%);
}

.highlighter-nodeinfobar-container[position="top"] > .highlighter-nodeinfobar,
.highlighter-nodeinfobar-container[position="overlap"] > .highlighter-nodeinfobar {
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1) inset;
}

.highlighter-nodeinfobar-container[hide-arrow] > .highlighter-nodeinfobar {
  margin: 7px 0;
}

#full-screen-warning-message {
  background-color: hsl(0,0%,15%);
  color: white;
  border-radius: 8px;
  margin-top: 30px;
  padding: 30px 50px;
  box-shadow: 0 0 2px white;
}

#full-screen-warning-container[obscure-browser] {
  background-color: rgba(0,0,0,0.3);
}

.full-screen-description {
  font-size: 150%;
}

#full-screen-domain-text {
  font-size: 300%;
}

.full-screen-approval-button,
#full-screen-remember-decision {
  font-size: 120%;
}

html|*#gcli-tooltip-frame,
html|*#gcli-output-frame {
  padding: 0;
  border-width: 0;
  background-color: transparent;
}

#gcli-output,
#gcli-tooltip {
  border-width: 0;
  background-color: transparent;
  -moz-appearance: none;
  margin-bottom: -2px;
}

.gclitoolbar-input-node,
.gclitoolbar-complete-node,
.gclitoolbar-prompt {
  margin: 0;
  -moz-margin-end: 5px;
  -moz-box-align: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-shadow: none;
}

.gclitoolbar-input-node {
  padding-left: 20px;
  background-color: transparent;
  -moz-appearance: none;
  border-color: hsl(210,11%,10%);
  color: hsl(210,30%,85%);
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  box-shadow: 0 1px 1px hsla(210,8%,5%,.3) inset,
              0 0 0 1px hsla(210,16%,76%,.1) inset,
              0 1px 0 hsla(210,16%,76%,.15);
}

.gclitoolbar-input-node > .textbox-input-box > html|*.textbox-input::-moz-selection {
  background-color: hsl(210,30%,85%);
  color: hsl(210,11%,16%);
  text-shadow: none;
}

.gclitoolbar-complete-node {
  padding-left: 21px;
  background-color: transparent;
  color: transparent;
}

.gclitoolbar-prompt {
  padding-left: 4px;
  padding-bottom: 2px;
  font-size: 150%;
  font-weight: bold;
  color: hsl(210,30%,85%);
  background-color: hsl(210,11%,16%);
}

.gclitoolbar-prompt-label,
.gcli-in-incomplete,
.gcli-in-error,
.gcli-in-ontab,
.gcli-in-todo,
.gcli-in-closebrace,
.gcli-in-param,
.gcli-in-valid {
  margin: 0;
  padding: 0;
}

.gcli-in-incomplete {
  border-bottom: 2px dotted #999;
}

.gcli-in-error {
  border-bottom: 2px dotted #F00;
}

.gcli-in-ontab {
  color: hsl(210,0%,35%);
}

.gcli-in-todo {
  color: hsl(210,50%,35%);
}

.gcli-in-closebrace {
  color: hsl(0,0%,80%);
}

/* Responsive Mode */

.browserContainer[responsivemode] {
  background: #222 url("chrome://browser/skin/devtools/responsive-background.png");
  padding: 0 20px 20px 20px;
}

.browserStack[responsivemode] {
  box-shadow: 0 0 7px black;
}

.devtools-responsiveui-toolbar {
  background: transparent;
  margin: 10px 0;
  padding: 0;
  box-shadow: none;
}

.devtools-responsiveui-toolbar > menulist,
.devtools-responsiveui-toolbar > toolbarbutton {
  min-width: 22px;
  border-radius: 0;
}

.devtools-responsiveui-toolbar:-moz-locale-dir(ltr) > *:first-child,
.devtools-responsiveui-toolbar:-moz-locale-dir(rtl) > *:last-child {
  margin-left: 0;
}

.devtools-responsiveui-resizebar {
  width: 7px;
  height: 24px;
  cursor: ew-resize;
  transform: translate(12px, -12px);
  background-image: url("chrome://browser/skin/devtools/responsive-vertical-resizer.png");
}

.devtools-responsiveui-resizehandle {
  width: 16px;
  height: 16px;
  cursor: se-resize;
  transform: translate(12px, 12px);
  background-image: url("chrome://browser/skin/devtools/responsive-se-resizer.png");
}

/* Web Console */

.web-console-frame {
  border-bottom: 1px solid #aaa;
}

.web-console-frame[animated] {
  transition: height 100ms;
}

/* Developer Toolbar */

#developer-toolbar-toolbox-button {
  min-width: 18px;
}

#developer-toolbar-toolbox-button > .toolbarbutton-text {
  display: none;
}

#developer-toolbar-toolbox-button > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

.developer-toolbar-button {
  -moz-appearance: none;
  min-width: 78px;
  min-height: 22px;
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  border-radius: 3px;
  color: inherit;
  border: 1px solid transparent;
  margin: 0 5px;
  padding: 0 10px;
  list-style-image: url("chrome://browser/skin/devtools/tools-icons-small.png");
}

.developer-toolbar-button[open=true],
.developer-toolbar-button:active:hover,
.developer-toolbar-button[checked=true] {
  border-color: hsla(210,8%,5%,.6);
  background: rgba(0,0,0,.6);
  box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 1px 0 hsla(210,16%,76%,.15);
}

.developer-toolbar-button:hover,
.developer-toolbar-button[checked=true],
.developer-toolbar-button[open=true] {
  color: hsl(208,100%,60%) !important;
  text-shadow: 0 0 6px hsl(208,100%,60%);
}

.developer-toolbar-button[checked=true] {
  background: rgba(0,0,0,.4);
}

#developer-toolbar-toolbox-button {
  -moz-image-region: rect(64px, 22px, 80px, 0);
}

/* Error counter */

#developer-toolbar-toolbox-button[error-count]:before {
  color: #FDF3DE;
  min-width: 16px;
  text-shadow: none;
  background-image: linear-gradient(#B4211B, #8A1915);
  border-radius: 1px;
  -moz-margin-end: 2px;
}

#social-toolbar-item > .toolbarbutton-1 > .toolbarbutton-icon,
.social-notification-container > .toolbarbutton-1 > .toolbarbutton-icon {
  margin: 5px 3px;
}

#social-provider-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

.social-notification-container {
  /* position:relative on .toolbarbutton-1 does not get position:absolute
     to work as expected on .toolbarbutton-1 generated content. Placing a
     simple container outside of .toolbarbutton-1 and setting position:relative
     on the simple container however will work. */
  position: relative;
}

.social-notification-container > .toolbarbutton-1[badge]:not([badge=""])::after {
  /* The |content| property is set in the content stylesheet. */
  font-size: 9px;
  font-weight: bold;
  padding: 0 1px;
  color: #fff;
  background-color: rgb(240,61,37);
  border: 1px solid rgb(216,55,34);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,39,121,0.77);
  position: absolute;
  top: 2px;
  right: 2px;
}

.social-notification-container > .toolbarbutton-1[badge]:not([badge=""]):-moz-locale-dir(rtl)::after {
  left: 2px;
  right: auto;
}

/* social toolbar provider menu */
#social-statusarea-popup {
  margin-top: 0;
  margin-left: -12px;
  margin-right: -12px;
}

.social-statusarea-user-portrait {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin: 10px;
}

.social-panel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

.chat-status-icon {
  max-height: 16px;
  max-width: 16px;
  padding: 0;
}

.chat-toolbarbutton {
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

.chat-toolbarbutton > .toolbarbutton-text {
  display: none;
}

.chat-close-button {
  list-style-image: url('chrome://browser/skin/social/chat-close.png');
  -moz-image-region: rect(0, 14px, 14px, 0);
}

.chat-close-button:hover:active {
  -moz-image-region: rect(14px, 14px, 28px, 0);
}

.chat-close-button:hover {
  -moz-image-region: rect(28px, 14px, 42px, 0);
}

.chat-title {
  font-weight: bold;
  color: black;
  text-shadow: none;
  cursor: inherit;
}

.chat-titlebar {
  background-color: #d9d9d9;
  background-image: linear-gradient(@toolbarHighlight@, rgba(255,255,255,0));
  height: 20px;
  min-height: 20px;
  width: 100%;
  margin: 0;
  padding: 2px;
  -moz-padding-start: 6px;
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.chat-titlebar[minimized="true"] {
  border-bottom: none;
}

.chat-titlebar[selected] {
  background-color: #f0f0f0;
}

.chat-titlebar[activity] {
  background-image: radial-gradient(ellipse closest-side at center, rgb(255,255,255), rgba(255,255,255,0));
  background-repeat: no-repeat;
  background-size: 100% 20px;
  background-position: 0 -10px;
}

.chat-frame {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.chatbar-button {
  -moz-appearance: none;
  background-color: #d9d9d9;
  list-style-image: url("chrome://browser/skin/social/social.png");
  border: none;
  margin: 0;
  padding: 2px;
  height: 21px;
  width: 21px;
  border-top: 1px solid #ccc;
  -moz-border-end: 1px solid #ccc;
}

.chatbar-button > .toolbarbutton-icon {
  opacity: .6;
  -moz-margin-end: 0;
}
.chatbar-button:hover > .toolbarbutton-icon,
.chatbar-button[open="true"] > .toolbarbutton-icon {
  opacity: 1;
}

.chatbar-button[open="true"] {
  background-color: #f0f0f0;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.6), 0 1px rgba(255,255,255,0.2);
}

.chatbar-button > .toolbarbutton-text,
.chatbar-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

.chatbar-button[activity] {
  background-image: radial-gradient(circle farthest-corner at center 3px, rgb(233,242,252) 3%, rgba(172,206,255,0.75) 40%, rgba(87,151,201,0.5) 80%, rgba(87,151,201,0));
}

.chatbar-button > menupopup > menuitem[activity] {
  font-weight: bold;
}

.chatbar-button > menupopup > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
  width: auto;
  height: auto;
  max-height: 16px;
  max-width: 16px;
}

.chatbar-innerbox {
  background: transparent;
  margin: -285px -1px 0 -1px;
  overflow: hidden;
}

chatbar {
  -moz-margin-end: 20px;
}

chatbox {
  height: 285px;
  width: 260px;
  -moz-margin-start: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
}

chatbox[minimized="true"] {
  width: 160px;
  height: 20px;
}

.click-to-play-plugins-notification-content {
  margin: -10px;
}

.click-to-play-plugins-notification-icon-box {
  -moz-border-end: 1px solid hsla(0,0%,100%,.2);
  padding-top: 16px;
  -moz-padding-start: 16px;
  -moz-padding-end: 6px;
}

.click-to-play-plugins-notification-separator {
  -moz-border-start: 1px solid hsla(211,79%,6%,.1);
  border-top: 1px solid hsla(211,79%,6%,.1);
}

.click-to-play-plugins-notification-description-box {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
  padding: 14px 10px 9px 10px;
}

.click-to-play-plugins-notification-center-box {
  border-top: 1px solid hsla(0,0%,100%,.2);
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  background-color: hsla(211,79%,6%,.05);
}

.click-to-play-plugins-notification-button-container {
  border-top: 1px solid hsla(0,0%,100%,.2);
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
  margin: 0px;
  padding: 15px 11px 14px 11px;
}

.center-item-box {
  padding-top: 11px;
  -moz-padding-start: 16px;
  -moz-padding-end: 11px;
  margin-bottom: -2px;
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
}

.center-item-box[padbottom="true"] {
  padding-bottom: 12px;
}

.center-item-icon {
  background-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
}

.center-item-box[warn="true"] {
  background-image: url("chrome://browser/skin/click-to-play-warning-stripes.png");
  background-repeat: repeat-x;
  padding-top: 7px;
  -moz-padding-end: 11px;
  padding-bottom: 9px;
  -moz-padding-start: 16px;
}

.center-item-box[padbottom="true"][warn="true"] {
  padding-bottom: 7px;
}

.center-item-box[showseparator="true"] {
  border-top: 1px solid hsla(211,79%,6%,.1);
}

.center-item-box[warn="false"] > .center-item-warning {
  display: none;
}

.center-item-warning > .text-link {
  color: #3d8cd7;
}

.center-item-warning > .text-link[href=""] {
  display: none;
}

.center-item-warning-icon {
  background-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-bottom: 4px;
}

.center-item-warning-description {
  color: #828282;
}

.center-item-button {
  min-width: 0;
}

%ifdef MOZ_PER_WINDOW_PRIVATE_BROWSING
#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/privatebrowsing-mask.png") center no-repeat;
  width: 40px;
}
%endif

